.navbar{
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    padding: 0;
    
    
   
}
.nav-link, .navbar-brand{
    border-right: 2px solid darkblue;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    
}

@media (max-width: 576px){
    .navbar-brand{
        border:none;
    }
}

.container-fluid{
    display:grid;
    grid-template-columns:100%;
    margin: 10px;
    padding: 10px;
  
  }

  @media (min-width: 576px) {
    .container-fluid{
      grid-template-columns:repeat(2, 1fr);
      gap: 10px; 
    }
    
    div > p{
        font-size:14pt;
    }
  }

  @media (min-width: 768px) {
    .container-fluid{
      grid-template-columns:repeat(3, 1fr);
      gap: 10px;
      
    }
    div > p{
        font-size:16pt;
    }

  }

  div > p {
    margin-bottom:0;
  }

  div > img{
    max-width:100%;
    height:auto;
    
    
  }

  .painter{
    font-size:10pt;
    font-style:italic;
  }

  .item{
    margin:20px;
  }

  #formTitle{
    display:inline-block;
    border-bottom:2px solid darkblue;
  }

  button{
    display: block;
    margin: 0 auto;
  }

  div > .container{
    border: 2px solid black;
    margin: 50px;
  }
  
  span {
    font-size: 10pt;
    color: darkred;
    font-style:italic;
  }

 